POSTGRES_DB=stride_db
POSTGRES_USER=stride_root
POSTGRES_PASSWORD=insecure-14ded8d64465bdace9aae29c7671df447caf155a2e56e4b0759e36e34c4b946f
API_BASE_PATH=/api/v1
PASSWORD_MIN_LENGTH=8
PASSWORD_REQUIRE_SPECIAL_CHAR=true
PASSWORD_REQUIRE_NUM=true
USERNAME_MIN_LENGTH=3
USERNAME_MAX_LENGTH=255