POSTGRES_DB=stride_db
POSTGRES_USER=stride_root
POSTGRES_PASSWORD=insecure-14ded8d64465bdace9aae29c7671df447caf155a2e56e4b0759e36e34c4b946f
API_BASE_PATH=/api/v1
APPLICATION_MODE=closed_network
PASSWORD_MIN_LENGTH=8
PASSWORD_REQUIRE_SPECIAL_CHAR=true
PASSWORD_REQUIRE_NUM=true
USERNAME_MIN_LENGTH=3
USERNAME_MAX_LENGTH=255
SESSION_SECRET=insecure-14ded8d64465bdace9aae29c7671df447caf155a2e56e4b0759e36e34c4b946f
SESSION_EXPIRY_HOURS=24
SESSION_COOKIE_SECURE=false
SITE_DOMAIN=
WHITEBOARD_SCENE_MESSAGE_READ_LIMIT_BYTES=
WHITEBOARD_SCENE_FLUSH_DELAY_MS=
WHITEBOARD_SCENE_FLUSH_LOCK_TTL_MS=
